.gift-bar__container {
  margin-block: 2rem;
}

.gift-bar {
  position: relative;
  width: 100%;
  padding: .5rem;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: .8rem;
}

.gift-bar__progress {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  z-index: 1;
  border-radius: 1rem;
  transition: all .5s ease-in-out;
}

.gift-bar__text {
  display: block;
  font-size: 1.4rem;
  color: rgb(var(--color-foreground));
  margin-bottom: 1rem;
  text-align: center;
  transition: all .3s ease-in-out;
  min-height: 2rem;
}

.gift-bar__prizes {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-top: 0.5rem;
}
.gift-bar__prize-name {
  font-size: 1.2rem;
  font-weight: 700;
  color: rgba(var(--color-foreground), 0.5);
  transition: color .3s;
  padding: 0.2rem 0.8rem;
  border-radius: 0.5rem;
}

.gift-bar__prizes:has(.gift-bar__prize-name:only-child)  {
  justify-content: flex-end;
}

@media screen and (max-width: 749px) {
  .gift-bar__prize-name,
  .gift-bar__gift-title {
    font-size: 1rem;
  }

  .gift-bar__text {
    font-size: 1.3rem;
  }
}